Flask==0.10.1
Flask-Login==0.2.11
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Jinja2==2.7.3
PIL==1.1.7
PySide==1.2.2
SQLAlchemy==0.9.7
alembic==0.6.6
psycopg2==2.5.3
pyaudio==0.2.4
sqlalchemy-migrate==0.9.1