{% extends "layout.html" %}

{%block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Record Time</th>
                <th>White</th>
                <th>Black</th>
                <th>Result</th>
                <th>White Time</th>
                <th>Black Time</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.rec_time }}</td>
                <td>{{ game.white_player.name }}</td>
                <td>{{ game.black_player.name }}</td>
                <td>{{ game.result }}</td>
                <td>{{ game.wtime }}</td>
                <td>{{ game.btime }}</td>
                <td>{{ game.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
