{% extends "layout.html" %}

{%block content %}
<div class="col-lg-offset-2">
    <form id="add-result-form" action="/game/result" method="post" name="form-result">
        <div class="modal-body">
            <label for="white">White</label>
            <input type="text" class="form-control" name="white" id="white" placeholder="white" />
            <label for="black">Black</label>
            <input type="text" class="form-control" name="black" id="black" placeholder="black" />
            <label for="black">Result</label>
            <input type="text" class="form-control" placeholder="result" name="result" id="result" />
            <label for="wtime">White time</label>
            <input type="text" class="form-control" placeholder="White Time" name="wtime" id="wtime" />
            <label for="btime">Black time</label>
            <input type="text" class="form-control" placeholder="Black Time" name="btime" id="btime" />
            <label for="notes">Notes</label>
            <textarea class="form-control" placeholder="Add notes.." name="notes" id="notes"></textarea>
            </div>
            <button type="submit" value="submit" class="btn btn-primary">
                Submit
            </button>
        
    </form>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $('add-result-form').on('submit', function (e) {
            e.defaultPrevented;
            $.ajax({
                url: "/game/result/",
                type: "POST",
                data: $('add-result-form').serialize(),
                success: function (data) {
                    console.debug("Successfully submitted.")
                },
                error: function (xhr, status, errorThorwn) {
                    console.debug(status)
                }
            });
        });
    });
</script>

{% endblock %}